{% extends "socialaccount/base.html" %}
{% load i18n %}
{% block content %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" method="post">{% csrf_token %}
					{% if proccess == "connect" %}
						<div class="card-body">
							<h5 class="card-title">{% trans "You have already loggined" %}</h5>
							<p class="card-text">{% blocktrans with provider.name as provider %} Connect {{ provider }}{% endblocktrans %}</p>
						</div>
					{% else %}

						<div class="flex-c-m">
							<button class="login100-social-item bg3" style="width: 200px; height: 100px;">
								<i class="fa fa-google">Login with Google</i>
							</button>
						</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
{% endblock %}